.login-display{
background-color: rgb(174, 218, 218);
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 50px;
gap: 20px;
}

.register-button{
    color: white;
    text-decoration-line: none;
}

li{
    list-style: none;
}

img{
    width: 170px;
    height: 200px;
    border-radius: 30%;
}

ul{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}