:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-family: "Times New Roman", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--color-shara-20);
    --media-background: var(--color-off-white);
    --color-text: #222221;
    --color-white: #ffffff;
    --color-nutmeg: #7E412D;
    --color-black: #222221;
    --color-dark-grey: #707174;
    --color-mid-grey: #B0B0AE;
    --color-light-grey: #DAD9D6;
    --color-off-white: #F6F6F3;
    --color-white: #ffffff;
    --color-white-20: #ffffff33;
    --color-khaki-twist: #67635C;
    --color-shara-100: #9D885A;
    --color-shara-80: #B0A07A;
    --color-shara-60: #C4B89C;
    --color-shara-40: #D7D0BC;
    --color-shara-20: #EBE7DE;
    --color-green-120: #008000;
    --color-green-100: #394C35;
    --color-green-80: #4B6046;
    --color-green-60: #7B9576;
    --color-green-40: #BAC9B3;
    --color-green-20: #DFE7DB;
    --color-red-20: #ff0000;
    --color-rust-100: #7E412D;
    --color-rust-80: #B15537;
    --color-rust-60: #D98265;
    --color-rust-40: #E6B5A5;
    --color-rust-20: #F0DBD4;
    --color-blue-100: #273344;
    --color-blue-80: #485564;
    --color-blue-60: #798896;
    --color-blue-40: #B1C0CA;
    --color-blue-20: #DCE5EB;
    --color-text: var(--color-black);
    --color-link: var(--color-blue-60);
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xlarge: 1.6rem;
}

html,
body {
    max-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    line-height: 1.5;
    scroll-behavior: smooth;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

li {
    list-style: none;
}

img {
    width: 208px;
    height: 312.237px;
    object-fit: cover;
}

/*------------------HOMEPAGE*/
.homepage-h1 {
    color: var(--color-text);
    font-size: var(--font-size-xlarge);
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    padding: 20px 10px;
}

/*------------------LOGIN PAGE*/
/*User Login Component*/
.login-display {
    background-color: var(--color-shara-40);
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;

    .login-h2 {
        color: var(--color-text);
        font-size: var(--font-size-large);
        text-transform: uppercase;
        font-weight: bold;
    }

    .login-title {
        font-size: var(--font-size-medium);
        color: var(--color-text);
        font-weight: bold;
    }

    .login-input {
        padding: 4px;
        border: 0.5px solid var(--color-text);
        width: 340px;
        font-size: var(--font-size-small);
    }

    .login-button {
        background-color: var(--color-white);
        border: 0.5px solid var(--color-text);
        color: var(---color-text);
        padding: 7px 7px;
        width: 350px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--font-size-medium);
        cursor: pointer;
        text-align: center;
    }

    .login-forgot-password-link {
        font-size: var(--font-size-medium);
        text-decoration: none;
        color: var(--color-text);
    }
}

/*------------------USER REGISTER PAGE*/
.register-page-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*User Register Component*/
.register-display {
    background-color: var(--color-shara-40);
    display: flex;
    flex-direction: column;
    padding: 20px 70px 15px 70px;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .register-h2 {
        color: var(--color-text);
        font-size: var(--font-size-large);
        text-transform: uppercase;
        font-weight: bold;
    }

    .register-title {
        font-size: var(--font-size-medium);
        color: var(--color-text);
        font-weight: bold;
    }

    .register-input {
        padding: 4px;
        border: 0.5px solid var(--color-text);
        width: 340px;
        font-size: var(--font-size-small);
    }

    .register-button {
        background-color: var(--color-white);
        border: 0.5px solid var(--color-text);
        color: var(---color-text);
        padding: 7px 7px;
        width: 350px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--font-size-medium);
        cursor: pointer;
        text-align: center;
    }
    .register-return-button {
        color: #222221;
        align-self: center;
    }
}

/*------------------FORGOT PASSWORD PAGE*/
.password-assistance-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Email Reset Password Component*/
.email-reset-password-container {
    background-color: var(--color-shara-40);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;

    .email-reset-password-h2 {
        color: var(--color-text);
        font-size: var(--font-size-large);
        text-transform: uppercase;
        font-weight: bold;
        padding-right: 120px;
    }

    .email-reset-password-info-text {
        font-size: var(--font-size-medium);
        color: var(--color-text);
        width: 350px;
    }

    .email-reset-password-title {
        font-size: var(--font-size-medium);
        color: var(--color-text);
        font-weight: bold;
    }

    .email-reset-password-input {
        padding: 4px;
        border: 0.5px solid var(--color-text);
        width: 340px;
        font-size: var(--font-size-small);
    }

    .reset-password-email-button {
        background-color: var(--color-white);
        border: 0.5px solid var(--color-text);
        color: var(---color-text);
        padding: 7px 7px;
        width: 350px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--font-size-medium);
        cursor: pointer;
        text-align: center;
        margin-top: 15px;
    }
    .email-reset-password-return-button {
        color: #222221;
        align-self: center;
    }
}

/*------------------DASHBOARD PAGE*/
.user-dashboard-h1 {
    color: var(--color-text);
    font-size: var(--font-size-xlarge);
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    padding: 20px 10px;
}

/*Order Component*/
.order-list-container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;

    .order-list {
        padding-right: 45px;
        font-size: var(--font-size-medium);
        display: flex;
        align-items: center;
        justify-content: space-between;


        .icon-status{
            display: flex;
            align-items: center;
        }
    }
}

/*Confirm Order Component*/
.confirm-order-button-container {
    padding: 7px 7px;
    text-align: center;

    .confirm-order-button {
        font-size: var(--font-size-medium);
        color: var(--color-white);
        font-weight: 500;
        background-color: var(--color-green-40);
        padding: 10px 35px;

        &:hover {
            background-color: var(--color-green-60);
        }
    }
}

.order-confirmed-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 50px;
    padding: 40px;
    background-color: var(--color-shara-60);
    display: flex;
    align-items: flex-start;
    font-family: inherit;
    font-style: oblique;

    .order-confirmed-icon {
        width: 50px;
        height: 50px;
        size: 30px;
        padding-right: 15px;
        color: var(--color-white);
    }

    .order-confirmed-text {
        font-weight: 500;
        color: var(--color-off-white);
        font-size: var(--font-size-large);
    }
}

/*Products Component*/
.products-header {
    font-size: var(--font-size-large);
    font-weight: bold;
    padding: 10px 10px;
    background-color: var(--color-shara-40);
    text-align: center;
    color: var(--color-text);
    margin-right: 25px;
}

.products-img-container {
    position: relative;
    width: 208px;
    height: 312.237px;

    .products-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-info-alert {
        color: rgba(255, 255, 255, 0.54);
    }

    .product-error-alert {
        width: 100%;
        max-width: 208px;
    }
}

.total-price {
    background: var(--color-shara-40);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    font-size: var(--font-size-large);
}

/*Generate Product Suggestion Component*/
.similar-products-open-button {
    color: var(--color-white);
    margin: 10px 20px;
    margin-left: 7px;
    background-color: var(--color-shara-60);

    &:hover {
        background-color: var(--color-green-40);
    }
}

.similar-products-header {
    padding: 10px;
    background-color: var(--color-shara-40);
    color: var(---color-text);
    text-align: center;
    font-family: inherit;
    font-weight: bold;
}

.quantity-input {
    font-size: var(--font-size-small);
    border: 0.5px solid var(--color-text);
    padding: 7px;
    width: 35px;
    margin-left: 42px;
}

.similar-products-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.accept-close-button {
    color: var(--color-white);
    background-color: var(--color-green-60);

    &:hover {
        background-color: var(--color-green-120);
    }
}

.cancel-close-button {
    color: var(--color-white);
    background-color: var(--color-nutmeg);
    margin-right: 8px;

    &:hover {
        background-color: var(--color-red-20);
    }
}


/*New Suggested Products Added Component*/
.suggested-products-header {
    font-size: var(--font-size-large);
    font-weight: bold;
    padding: 10px 10px;
    background-color: var(--color-shara-40);
    text-align: center;
    color: var(--color-text);
    margin-left: 23px;
}

.product-suggestion {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.suggested-products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .suggested-product-name {
        font-weight: bold;
        text-transform: uppercase;
    }

    .suggested-products-quantity {
        padding-bottom: 15px;
    }
}

/*Suggestion component*/
.suggestion-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-size-medium);
}

.suggestion-description {
    padding-right: 80px;
}

.suggestion-shopping-cart {
    background-color: var(--color-green-60);
    color: var(--color-white);
    padding: 13px 13px;

    &:hover {
        background-color: var(--color-green-80);
    }
}

.shopping-cart-icon {
    color: var(--color-white);
    font-size: var(--font-size-large);
    fill: var(--color-white);
    height: 50px;
    width: 20px;
}
/*Profile Page*/
.profile-page-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
.profile-display {
    background-color: var(--color-shara-40);
    display: flex;
    flex-direction: column;
    padding: 30px 100px 50px 100px;
    gap: 0px;
    align-items: left;
    justify-content: center;

    .profile-h2 {
        color: var(--color-text);
        font-size: var(--font-size-large);
        text-transform: uppercase;
        font-weight: bold;
        align-self: center;
    }


    .profile-title {
        font-size: var(--font-size-medium);
        color: var(--color-text);
        font-weight: bold;
        margin: 5px;
        margin-left: 0px;
    }

    .new-email-title {
        font-size: var(--font-size-medium);
        color: var(--color-text);
        font-weight: bold;
        margin: 0;
        margin-top: 40px;
    }

    .profile-input {
        padding: 4px;
        border: 0.5px solid var(--color-text);
        width: 340px;
        font-size: var(--font-size-small);
    }

    .profile-button {
        background-color: var(--color-white);
        border: 0.5px solid var(--color-text);
        color: var(---color-text);
        padding: 7px 7px;
        width: 350px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--font-size-medium);
        cursor: pointer;
        text-align: center;
        margin: 20px 0;
    }
    .profile-return-button {
        color: #222221;
        align-self: center;
    }
}